---
import SocialMedia from '../components/SocialMedia/SocialMedia.astro';
import Certifications from 'src/components/Certifications/Certifications.astro';
import Technologies from 'src/components/Technologies/Technologies.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Lucas Gonzalez | Desarrollador Web Full Stack +2 años de experiencia.">
	<section class="max-w-5xl h-[90vh] flex flex-col justify-center align-center mx-auto dark:text-white font-bold pl-10">
		<h1 class="text-7xl"><span class="text-red-500">L</span>ucas Gonzalez</h1>
		<p>Desarrollador Web Full Stack <span class="text-red-400">+2 años</span> de experiencia.</p>
		<SocialMedia />
	</section>

	<section class="max-w-5xl mx-auto dark:text-white" id="about-seccion">
		<h2 class="font-bold text-3xl mb-6 text-center">Acerca de mi</h2>
		<p class="text-left font-semibold text-wrap mb-14 px-10" data-aos="fade-up-left">
			Soy un <span class="font-bold text-xl text-orange-500">desarrollador de software full stack</span> apasionado por la creación de <span class="font-bold dark:text-red-300 text-red-500 text-xl">soluciones innovadoras</span> que optimizan procesos y mejoran la experiencia del usuario. 
			Con experiencia en el desarrollo de aplicaciones tanto en el <span class="dark:text-blue-300 text-blue-500 font-bold text-xl">backend</span> como en el <span class="dark:text-blue-300 text-blue-500 font-bold text-xl">frontend</span>, he trabajado en proyectos que abarcan desde la construcción de sistemas de comunicación eficientes hasta plataformas de gestión de equipos y proyectos.
			<br><br>
			A lo largo de mi carrera, he aprendido a integrar el conocimiento técnico con un enfoque <span class="font-bold text-xl dark:text-yellow-200 text-yellow-900">estratégico</span>, lo que me permite entregar soluciones adaptadas a las necesidades de los usuarios y del mercado. 
			Mi interés por la <span class="dark:text-green-400 text-green-600 font-bold text-xl">ciberseguridad</span> añade un valor único a mi perfil, permitiéndome desarrollar aplicaciones que no solo destacan por su funcionalidad, sino también por su seguridad y confiabilidad.
			<br><br>
			Disfruto trabajar en entornos <span class="font-bold text-xl dark:text-orange-300 text-orange-500">colaborativos</span>, aportar ideas nuevas y explorar tecnologías emergentes que potencien el impacto de mis proyectos. 
			Siempre estoy dispuesto a asumir <span class="font-bold dark:text-red-300 text-red-500 text-xl">nuevos desafíos</span> que me permitan crecer profesionalmente y contribuir de manera significativa al éxito de los equipos y organizaciones con las que colaboro.
		</p>		  
	</section>
	
	<section class="max-w-5xl mx-auto">
		<div class="px-10" data-aos="fade-up-left">
			<h2 class="text-3xl font-bold text-center mb-6">Certificaciones</h2>
			<Certifications />
		</div>
	</section>
	<section class="max-w-5xl mx-auto">
		<div class="mt-28" id="technologies-seccion" data-aos="fade-up-right">
			<h2 class="text-3xl font-bold text-center mb-6">Stack tecnológico</h2>
			<Technologies />
		</div>
	</section>
	<section class="h-[50vh]">
	</section>
</Layout>
