---
import Layout from "src/layouts/Layout.astro";
---

<Layout title="Proyectos | Lucas Gonzalez">
  <main class="max-w-5xl mx-auto flex justify-center items-center">
    <h1 class="text-4xl font-bold text-center">Proyectos</hjson>
    <p class="text-center">Aquí encontrarás algunos de los proyectos en los que he trabajado.</p>
  </main>
</Layout>