---
import GithubIcon from 'shared/icons/socialMedia/GithubIcon.astro';
import LinkedinIcon from 'shared/icons/socialMedia/LinkedinIcon.astro';
import InstagramIcon from 'shared/icons/socialMedia/InstagramIcon.astro';
---

<div class="flex gap-4">
    <a 
        href="https://github.com/lucke514" 
        target="_blank" 
        rel="noopener noreferrer" 
        class="transform transition-transform hover:scale-110"
    >
        <GithubIcon class="w-8 h-8 hover:fill-red-500"/>
    </a>
    <a 
        href="https://www.linkedin.com/in/lucas-gonzalez-espinosa" 
        target="_blank" 
        rel="noopener noreferrer"
        class="transform transition-transform hover:scale-110"
    >
        <LinkedinIcon class="w-8 h-8 hover:fill-red-500"/>
    </a>
    <a 
        href="https://www.instagram.com/luckeee___/" 
        target="_blank" 
        rel="noopener noreferrer"
        class="transform transition-transform hover:scale-110"
    >
        <InstagramIcon class="w-8 h-8 hover:fill-red-500"/>
    </a>
</div>