---
import GithubIcon from 'shared/icons/socialMedia/GithubIcon.astro';
import LinkedinIcon from 'shared/icons/socialMedia/LinkedinIcon.astro';
import InstagramIcon from 'shared/icons/socialMedia/InstagramIcon.astro';
---

<div class="mt-3">
    <nav>
        <ul class="flex flex-row ">
            <li><a href="https://github.com/lucke514"><GithubIcon class="hover:fill-red-500 hover:animate-bounce"/></a></li>
            <li><a href="https://www.linkedin.com/in/lucas-gonzalez-espinosa-073bba248/"> <LinkedinIcon class="hover:fill-red-500 hover:animate-bounce"/> </a></li>
            <li><a href="https://www.instagram.com/luckeee___/"> <InstagramIcon class="hover:fill-red-500 hover:animate-bounce"/> </a></li>
        </ul>
    </nav>
</div>